.card a{color:var(--accent);text-decoration:none}
.card ul{padding-left:13px;text-align:left;list-style:none;margin:0}
.card li{margin:6px 0}

a:hover{
    color:rgb(0, 0, 0);
    transition:0.5s;
    text-shadow: rgba(33, 27, 16, 0.9) 0px 0px 19px;
}